body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header {
    background-color: #FFF;
}

.header-navigation {
    background-color: #FFF;
}

.header-logo-web {
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo-Studio {
    color: #2E2F42;
}

.header-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-menu {
    background-color: #FFF;
}
 
.header-address-item {}

.header-menu-address-link {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-menu-address-link:hover {
    color: #404bbf;
}

.header-menu-address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    text-align: center;
}

.hero-title {
    color: #FFF;
        text-align: center;
        /* Header 1 */
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.hero-btn {
        background-color: #4D5AE5;
        color: #FFF;
        /* Button Text */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        cursor: pointer;
    }
.hero-btn:hover, 
.hero-btn:focus {
    background-color: #404bbf;
}

.indentation {}

.about-us {}

.about-us-list {}

.about-us-item {}

.about-us-subtitle {
        color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.about-us-item-text {
        color: #434455;
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.ourteam {
        background-color: #F4F4FD;
        color: #2E2F42;
        text-align: center;
}

.ourteam-title{
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
}

.ourteam-list {}

.ourteam-item {
        background-color: #FFFFFF;
}

.framem {
        background-:- #FFF;
}

.ourteam-subtitle {
        color: #2E2F42;
        text-align: center;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.ourteam-item-text {
    color: #434455;
        text-align: center;
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.ourportfolio {}

.ourportfolio-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
}

.ourportfolio-list {
        background-color: #FFFFFF;
}

.ourportfolio-item {}

.ourportfolio-subtitle {
        color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.ourportfolio-item-text {
        color: #434455;
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer {
        background-color: #2E2F42;
}

.footer-logo-btr {
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}